extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-primary(style='margin-top: 10px;')
    .container-fluid
      a.navbar-brand(href='#')
        span(style='margin-left: 10px;') #{menuTitle}
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        ul.navbar-nav
          li.nav-item
          a.nav-link.active(href='/#') Home
          li.nav-item
            a.nav-link(href='/rooms') Rooms
          li.nav-item
            a.nav-link(href='/add') Add
          li.nav-item
            a.nav-link(href='/create') Create
          li.nav-item
            a.nav-link(href='/params') Parameters
  p
    h2(style='text-align: center;') Infrastructure Parameters

  table.table.table-striped.table-hover(style='margin-left: auto; margin-right: auto; width: 60%;')
    thead.table-primary
      tr
        th(scope='col') Key
        th(scope='col') Value
    tbody(style='background-color: white')
      each key, value in infraParams
        tr
          td= value
          td= key
  
  p
    h2(style='text-align: center;') Application Parameters

  table.table.table-striped.table-hover(style='margin-left: auto; margin-right: auto; width: 60%;')
    thead.table-primary
      tr
        th(scope='col') Key
        th(scope='col') Value
    tbody(style='background-color: white')
      each key, value in appParams
        tr
          td= value
          td= key

